*{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: yellow;
}
body{
    background-image: url(/images/background_page.jpg);
    background-color: black;
}
.navbar{
    padding: 0px;
}
#logo__nav{
    max-height: 70px;
    min-height: 10px;
}
/*footer*/
footer{
    display: flex;
    background-image: url("./images/background_page.jpg");
    flex-direction: row;
    justify-content:space-between;
}
.sponsors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carousel__mini{
    width: 70px;
}
.seguinos{
    display: flex;
    flex-direction: column;
}
.sponsors h3{
    padding-top: 20px;
}
.foot__p{
    margin-bottom: 0%;
}