* {
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: yellow;
    text-align: center;
}

body {
    background-image: url(/images/background_page.jpg);
    background-color: black;
}

/*index.html*/
.navbar {
    padding: 0px;
}

#logo__nav {
    max-height: 70px;
    min-height: 10px;
}

/*footer*/
footer {
    display: flex;
    background-image: url("./images/background_page.jpg");
    flex-direction: row;
    justify-content: space-between;
}

.sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel__mini {
    width: 70px;
}

.seguinos {
    display: flex;
    flex-direction: column;
}

.sponsors h3 {
    padding-top: 20px;
}

.foot__p {
    margin-bottom: 0%;
}

/*notebooks.html*/
.container-lg {
   display: flex;
   flex-direction: column;
}

.container-lg p,
h6 {
    color: rgba(201, 201, 0, 0.97);
    margin-bottom: 6px;
}

.container-lg h6 {
    color: rgb(244, 248, 4);
}

.container-lg img {
    width: 300px;
    
}

.grid__notebooks {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    list-style-type: none;
    justify-items: center;
}
/* breakpoints*/
@media screen and (max-width: 990px){
    .grid__notebooks {
        display: grid;
        grid-template-columns: 2fr 2fr;
        list-style-type: none;
        justify-items: center;
    }
}

@media screen and (max-width: 680px){
    .grid__notebooks {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
    .img{
        justify-content: center;
    }
}
